<html>

  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <h2 class="jumbotron text-right" style="font-family:'Courier New'">maarek portal</h2>
    <% if (success && success.length !== 0) { %>
      <div class="alert alert-success">
          <div class="panel-body"><strong>Success! </strong><%= success %></div>
    </div>
  <% } %>
    <% if (warning && warning.length !== 0) { %>
      <div class="alert alert-warning">
          <div class="panel-body"><%= warning %></div>
    </div>
  <% } %>

  <div>
  <strong>Links:</strong><br/>
    <%data.links.forEach(function(link){%>
      <p> <%= link %> </p>

      <%})%>



  </div> 
      <div>
  <form method="post" action="/addLink" style="margin-top:30px;">
      <h3>Add a link to the portfolio</h3>     
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Link" name="link"></input>
        <input type="hidden" name="portfolio_id" value="<%= data.id %>" >
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>


      </div>

</html>